body {
	background-color: red;
}

label {
	background-color: red;
	background-color: color(display-p3 1 0 0); 
}

input {
	display: none;
}

#toggle:checked ~ label {
	background-color: green;
	background-color: color(display-p3 0 1 0); 
}

html, body, label {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	user-select: none;
}